body{
    background: darkgrey;
}
#i1
{
    margin-top: 50px;
    margin-left: 500px;
}
#span1
{
    font-weight: bold;
    position: absolute;
    top:32px;
    left:480px;
}
div{
    margin-top: 10px;
}

a{
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background: black;
    color: aqua;
    text-decoration:none;
   position: absolute;
    top:5px;
    left:800px;
    left:800px;
}